$base-font-family: 'Epilogue', sans-serif;
$font-color: hsl(0, 0%, 41%);
$almost-black: hsl(0, 0%, 8%);
$almost-white: hsl(0, 0%, 98%);


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

 body {
        margin: 0 50px 0 50px;
        font-family: $base-font-family;
    }

header {
    display: flex;
    padding: 10px;
    width: 100%;
    // background: lawngreen;

    span {
        font-weight: 700;
        font-size: 1.4rem;
    }

    nav {
        display: flex;
        margin: 10px 0 0 20px;
        ul {
            display: flex;
            margin: 0 20px;
    
            li {
                text-decoration: none;
                list-style-type: none;
                margin: 0 10px;

                a {
                    text-decoration: none;
                    color: $font-color;

                    &:hover {
                        cursor: pointer;
                        color: $almost-black;
                    }
                }
            }
        }
    }
    .btns {
        display: flex;
        color: $font-color;
        position: relative;
        top: 0;
        bottom: 0;
        left: 25%;

        .btn {
            margin: 0 15px;
            cursor: pointer;

            &:hover {
                color: $almost-black;
            }
        }

        #login {
            padding: 10px;
        }

        #register {
            border: 2px solid $font-color;
            padding: 10px;
            border-radius: 15px;
        }
    }
}

.features-dropdown {
    // display: none;
    background: $almost-white;
    width: 130px;
    border-radius: 10px;
    position: absolute;
    top: 10%;
    left: 12%;
    font-size: 14px;
    box-shadow: 0px 0px 60px 5px rgb(220, 210, 210);
    z-index: 1;
    ul {
        display: block;
        padding: 15px;
        li {
            list-style-type: none;
            text-decoration: none;
            padding: 4px;
        }
    }
}

.company-dropdown {
    // display: none;
    background: $almost-white;
    width: 100px;
    border-radius: 10px;
    position: absolute;
    top: 10%;
    left: 27%;
    font-size: 14px;
    box-shadow: 0px 0px 60px 5px rgb(220, 210, 210);
    z-index: 1;
    ul {
        display: block;
        padding: 15px;
        li {
            list-style-type: none;
            text-decoration: none;
            padding: 4px;
        }
    }
}


.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 30px 10px 50px 100px;

    .head-text {
        margin-top: 100px;
        h1 {
            font-size: 2.4rem;
            line-height: 1.2;
        }

        p {
            padding:30px 0;
            font-size: 14px;
            color: $font-color;
        }

        button {
            background: rgb(15, 15, 15);
            color: #fff;
            padding: 10px;
            border-radius: 15px;
            outline: none;
            margin-bottom: 40px;
            border: 1px solid #000;
            cursor: pointer;

            &:hover {
                background: #fff;
                color: #000;
            }
        }

        img {
            width: 70px;
            padding: 0 10px;
        }
    }

    .heroimg img {
        width: 300px;
        height: 400px;
    }
}

