$base-font-family: 'Epilogue', sans-serif;
$font-color: hsl(0, 0%, 41%);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

 body {
        margin: 0 50px 0 50px;
        font-family: $base-font-family;
    }

header {
    display: flex;
    padding: 10px;
    width: 100%;
    // background: lawngreen;

    span {
        font-weight: 700;
        font-size: 1.4rem;
    }

    nav {
        display: flex;
        margin: 10px 0 0 20px;
        ul {
            display: flex;
            margin: 0 20px;
    
            li {
                text-decoration: none;
                list-style-type: none;
                margin: 0 10px;

                a {
                    text-decoration: none;
                    color: $font-color;
                }
            }
        }
    }
    .btns {
        display: flex;
        color: $font-color;
        position: relative;
        top: 0;
        bottom: 0;
        left: 25%;

        .btn {
            margin: 0 15px;
        }

        #login {
            padding: 10px;
        }

        #register {
            border: 2px solid $font-color;
            padding: 10px;
            border-radius: 15px;
        }
    }
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 30px 20px 0 110px;

    .head-text {
        h1 {
            font-size: 2.4rem;
            line-height: 1.2;
        }

        p {
            padding:30px 0;
            font-size: 14px;
            color: $font-color;
        }

        button {
            background: rgb(15, 15, 15);
            color: #fff;
            padding: 10px;
            border-radius: 15px;
            outline: none;
            margin-bottom: 40px;
        }

        img {
            width: 70px;
            padding: 0 10px;
        }
    }

    .heroimg img {
        width: 300px;
        height: 300px;
    }
}

