$mainFont-family :'Epilogue', sans-serif;
$almost-white: hsl(0, 0%, 98%);
$medium-gray: hsl(0, 0%, 41%);
$Almost-black: hsl(0, 0%, 8%);


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;

    .main-container {
        margin: 30px;
        width: 375px;
        height: 780px;
        border: 1px solid $Almost-black;
        font-family: $mainFont-family;

        header {
            .logo-menu {
                display: flex;
                justify-content: space-between;
                margin: 20px;
                align-items: center;

                .name-logo{
                    span {
                        font-size: 30px;
                        font-weight: bold;
                    }
                }
            }
        }
        
    }
}
