$mainfont :'Epilogue', sans-serif;
$almost-white: hsl(0, 0%, 98%);
$medium-gray: hsl(0, 0%, 41%);
$Almost-black: hsl(0, 0%, 8%);


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {      
    .main-container {
        font-family: $mainfont;
        background-color: $almost-white;
        position: relative;

        header {
            display: flex;
            .logo-menu {
                display: flex;
                justify-content: space-between;
                margin: 20px;
                align-items: center;

                .name-logo{
                    span {
                        font-size: 30px;
                        font-weight: bold;
                    }
                }
            }

            .full-screen-nav {
               display: flex;

               nav {
                   display: flex;

                   button {
                    display: block;
                    padding: 10px;
                    margin-left: 10px;
                    background: none;
                    border: none;
                    font-family: $mainfont;
                    color: $medium-gray;

                    &:hover {
                        cursor: pointer;
                        color: $Almost-black;
                    }
                   }

                   .features-content{
                       position: absolute;
                       top: 15%;
                       left: 11.5%;
                       border-radius: 15px;
                       background: $almost-white;
                       padding: 5px;
                       box-shadow: 0px 0px 64px 8px $almost-white;
                       
                       
                        a {
                            display: block;
                            text-decoration: none;
                            padding: 5px;
                            color: $medium-gray;
                            cursor: pointer;

                            &:hover {
                                color: $Almost-black;
                            }
                        }

                   }

                   .company-content {
                       position: absolute;
                       top: 15%;
                       left: 29.5%;
                       background: $almost-white;
                       border-radius: 15px;
                       padding: 5px;
                       box-shadow: 20px 20px 194px 18px $almost-white;

                       a {
                           display: block;
                           text-decoration: none;
                           padding: 5px;
                           color: $almost-white;
                           
                           &:hover{
                               color: $Almost-black;
                           }
                       }
                   }

                   ul {
                       display: flex;
                       justify-content: center;
                       align-items: center;

                       li {
                           list-style-type: none;
                           
                           a {
                               text-decoration: none;
                               padding: 5px;
                               color: $medium-gray;
                               font-size: small;
                               
                               &:hover{
                                color: $Almost-black;
                                }
                           }
                       }
                   }
               }

               .login-register {
                margin-left: 250px;
                display: flex;
                justify-content: center;
                align-items: center;

                #login button{
                    border: none;
                }
                button {
                    padding: 10px 30px;
                    border-radius: 15px;
                    border: 2px solid $Almost-black;
                    font-family: $mainfont;
                    background: none;
                }
            }
            }
            .sidenav {
                display: none;
                position: absolute;
                right: 0;
                top: 0;
                background: $almost-white;
                width: 64%;
                height: 780px;
                z-index: 4;
    
                .close-menu {
                    float: right;
                    margin: 20px 20px 30px 10px ;
                }
    
                nav {
                    display: block;
                    margin-top: 80px;
    
                    button {
                        display: block;
                        padding: 10px;
                        margin-left: 10px;
                        background: none;
                        border: none;
                        font-family: $mainfont;
                        color: $medium-gray;
                    }
    
    
                    .features-content, .company-content {
                        display: none;
                        padding: 10px;
                        margin-left: 20px;
    
                        a {
                            display: block;
                            padding: 10px;
                            text-decoration: none;
                            color: $medium-gray;
    
                            img {
                                margin-right: 5px;
                            }
                        }
                    }
                    
                    ul {
                        display: block;
                        margin-left: 10px;
    
                        li {
                            list-style-type: none;
                            padding: 10px;
    
                             a {
                                text-decoration: none;
                                color: $medium-gray;
                            }
                        }
                    }
                }
    
                .login-register {
                    margin: 20px;
    
                    #login button{
                        border: none;
                    }
                    button {
                        width: 100%;
                        padding: 10px 30px;
                        border-radius: 15px;
                        border: 2px solid $Almost-black;
                        font-family: $mainfont;
                        font-weight: 500;
                        background: none;
                    }
                }
    
            }
    
        }
        
        .wrapper {
            margin: 0 10px;

            .info-text {
                h1 {
                    padding: 15px;
                    font-size: 1.8rem;
                    text-align: center;

                }

                p {
                    text-align: center;
                    color: $medium-gray;
                    line-height: 1.5;
                    padding-bottom: 15px;
                }
            }

            button {
                padding: 10px 25px 10px 25px;
                border-radius: 10px;
                background: $Almost-black;
                color: #fff;
                font-weight: 500;
                outline: none;
                position: relative;
                top: 0;
                left: 30%;
                bottom: 0;
                margin-bottom: 30px;
            }

            .clients {
                display: inline-flex;
                img {
                    margin: 5px;
                }
            }

        }

    }
}

@media  only screen and (min-width: 426px) {
    .hero-and-wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 50px 30px 0px  30px;

        .hero {
            .heroimg {
                img {
                    height: 300px;
                    width: 300px;
                }
            }
        }

        .wrapper {
            .info-text {
                margin: 60px 0px 0px 60px ;
                h1{
                    text-align: left !important;
                }

                p {
                    text-align: left !important;
                }
            }
        }

    }

    header {
        .logo-menu {
            .menu {
                display: none;
            }
        }

        .sidenav {
            .close-menu {
                display: none;
            }
    
            nav {
                display: flex;
                margin: 0 30px;
    
                button {
                    padding: 10px;
                    background: none;
                    border: none;
                }
    
                ul {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    
}


