* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body .main-container {
  font-family: "Epilogue", sans-serif;
  background-color: #fafafa;
  position: relative;
}

body .main-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .main-container header .logo-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main-container header .logo-menu .name-logo span {
  font-size: 30px;
  font-weight: bold;
}

body .main-container header .full-screen-nav {
  display: none;
}

body .main-container header .full-screen-nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .main-container header .full-screen-nav nav button {
  display: block;
  padding: 10px;
  margin-left: 10px;
  background: none;
  border: none;
  font-family: "Epilogue", sans-serif;
  color: dimgray;
}

body .main-container header .full-screen-nav nav button:hover {
  cursor: pointer;
  color: #141414;
}

body .main-container header .full-screen-nav nav .features-content {
  position: absolute;
  top: 13%;
  left: 8%;
  border-radius: 15px;
  background: #fafafa;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 14px 8px #e5d6d6;
          box-shadow: 0px 0px 14px 8px #e5d6d6;
}

body .main-container header .full-screen-nav nav .features-content a {
  display: block;
  text-decoration: none;
  padding: 5px;
  color: dimgray;
  cursor: pointer;
}

body .main-container header .full-screen-nav nav .features-content a:hover {
  color: #141414;
}

body .main-container header .full-screen-nav nav .company-content {
  position: absolute;
  top: 13%;
  left: 20.5%;
  background: #fafafa;
  border-radius: 15px;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 14px 8px #e5d6d6;
          box-shadow: 0px 0px 14px 8px #e5d6d6;
}

body .main-container header .full-screen-nav nav .company-content a {
  display: block;
  text-decoration: none;
  padding: 5px;
  color: dimgray;
}

body .main-container header .full-screen-nav nav .company-content a:hover {
  color: #141414;
}

body .main-container header .full-screen-nav nav .features-content, body .main-container header .full-screen-nav nav .company-content {
  display: none;
}

body .main-container header .full-screen-nav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main-container header .full-screen-nav nav ul li {
  list-style-type: none;
}

body .main-container header .full-screen-nav nav ul li a {
  text-decoration: none;
  padding: 5px;
  color: dimgray;
  font-size: small;
}

body .main-container header .full-screen-nav nav ul li a:hover {
  color: #141414;
}

body .main-container header .full-screen-nav .login-register {
  margin-left: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main-container header .full-screen-nav .login-register #login button {
  border: none;
}

body .main-container header .full-screen-nav .login-register button {
  padding: 10px 30px;
  border-radius: 15px;
  border: 2px solid #141414;
  font-family: "Epilogue", sans-serif;
  background: none;
}

body .main-container header .sidenav {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  background: #fafafa;
  width: 64%;
  height: 780px;
  z-index: 4;
}

body .main-container header .sidenav .close-menu {
  float: right;
  margin: 20px 20px 30px 10px;
}

body .main-container header .sidenav nav {
  display: block;
  margin-top: 80px;
}

body .main-container header .sidenav nav button {
  display: block;
  padding: 10px;
  margin-left: 10px;
  background: none;
  border: none;
  font-family: "Epilogue", sans-serif;
  color: dimgray;
}

body .main-container header .sidenav nav .features-content, body .main-container header .sidenav nav .company-content {
  display: none;
  padding: 10px;
  margin-left: 20px;
}

body .main-container header .sidenav nav .features-content a, body .main-container header .sidenav nav .company-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: dimgray;
}

body .main-container header .sidenav nav .features-content a img, body .main-container header .sidenav nav .company-content a img {
  margin-right: 5px;
}

body .main-container header .sidenav nav ul {
  display: block;
  margin-left: 10px;
}

body .main-container header .sidenav nav ul li {
  list-style-type: none;
  padding: 10px;
}

body .main-container header .sidenav nav ul li a {
  text-decoration: none;
  color: dimgray;
}

body .main-container header .sidenav .login-register {
  margin: 20px;
}

body .main-container header .sidenav .login-register #login button {
  border: none;
}

body .main-container header .sidenav .login-register button {
  width: 100%;
  padding: 10px 30px;
  border-radius: 15px;
  border: 2px solid #141414;
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  background: none;
}

body .main-container .wrapper {
  margin: 0 10px;
}

body .main-container .wrapper .info-text h1 {
  padding: 15px;
  font-size: 1.8rem;
  text-align: center;
}

body .main-container .wrapper .info-text p {
  text-align: center;
  color: dimgray;
  line-height: 1.5;
  padding-bottom: 15px;
}

body .main-container .wrapper button {
  padding: 10px 25px 10px 25px;
  border-radius: 10px;
  background: #141414;
  color: #fff;
  font-weight: 500;
  outline: none;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  margin-bottom: 30px;
}

body .main-container .wrapper .clients {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

body .main-container .wrapper .clients img {
  margin: 5px;
}

@media only screen and (min-width: 426px) {
  .full-screen-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero-and-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 50px 30px 0px  30px;
  }
  .hero-and-wrapper .hero .heroimg img {
    height: 400px;
    width: 400px;
  }
  .hero-and-wrapper .wrapper .info-text {
    margin: 50px 0px 0px 60px;
  }
  .hero-and-wrapper .wrapper .info-text h1 {
    text-align: left !important;
  }
  .hero-and-wrapper .wrapper .info-text p {
    text-align: left !important;
  }
  .hero-and-wrapper .wrapper button {
    position: absolute;
    margin-left: 60px;
  }
  .hero-and-wrapper .wrapper button:hover {
    background: none;
    color: #141414;
  }
  .hero-and-wrapper .wrapper .clients {
    margin-left: 50px;
    margin-top: 50px;
  }
  header .logo-menu .menu {
    display: none;
  }
  header .sidenav .close-menu {
    display: none;
  }
  header .sidenav nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 30px;
  }
  header .sidenav nav button {
    padding: 10px;
    background: none;
    border: none;
  }
  header .sidenav nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */