$mainfont :'Epilogue', sans-serif;
$almost-white: hsl(0, 0%, 98%);
$medium-gray: hsl(0, 0%, 41%);
$Almost-black: hsl(0, 0%, 8%);


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {      
    .main-container {
        font-family: $mainfont;
        background-color: $almost-white;
        position: relative;

        header {
            display: flex;
            .logo-menu {
                display: flex;
                justify-content: space-between;
                margin: 20px;
                align-items: center;

                .name-logo{
                    span {
                        font-size: 30px;
                        font-weight: bold;
                    }
                }
            }

            .full-screen-nav {
               display: flex;

               nav {
                   display: flex;

                   button {
                    display: block;
                    padding: 10px;
                    margin-left: 10px;
                    background: none;
                    border: none;
                    font-family: $mainfont;
                    color: $medium-gray;
                   }
               }
            }
            .sidenav {
                display: none;
                position: absolute;
                right: 0;
                top: 0;
                background: $almost-white;
                width: 64%;
                height: 780px;
                z-index: 4;
    
                .close-menu {
                    float: right;
                    margin: 20px 20px 30px 10px ;
                }
    
                nav {
                    display: block;
                    margin-top: 80px;
    
                    button {
                        display: block;
                        padding: 10px;
                        margin-left: 10px;
                        background: none;
                        border: none;
                        font-family: $mainfont;
                        color: $medium-gray;
                    }
    
    
                    .features-content, .company-content {
                        display: none;
                        padding: 10px;
                        margin-left: 20px;
    
                        a {
                            display: block;
                            padding: 10px;
                            text-decoration: none;
                            color: $medium-gray;
    
                            img {
                                margin-right: 5px;
                            }
                        }
                    }
                    
                    ul {
                        display: block;
                        margin-left: 10px;
    
                        li {
                            list-style-type: none;
                            padding: 10px;
    
                             a {
                                text-decoration: none;
                                color: $medium-gray;
                            }
                        }
                    }
                }
    
                .login-register {
                    margin: 20px;
    
                    #login button{
                        border: none;
                    }
                    button {
                        width: 100%;
                        padding: 10px 30px;
                        border-radius: 15px;
                        border: 2px solid $Almost-black;
                        font-family: $mainfont;
                        font-weight: 500;
                        background: none;
                    }
                }
    
            }
    
        }
        
        .wrapper {
            margin: 0 10px;

            .info-text {
                h1 {
                    padding: 15px;
                    font-size: 1.8rem;
                    text-align: center;

                }

                p {
                    text-align: center;
                    color: $medium-gray;
                    line-height: 1.5;
                    padding-bottom: 15px;
                }
            }

            button {
                padding: 10px 25px 10px 25px;
                border-radius: 10px;
                background: $Almost-black;
                color: #fff;
                font-weight: 500;
                outline: none;
                position: relative;
                top: 0;
                left: 30%;
                bottom: 0;
                margin-bottom: 30px;
            }

            .clients {
                display: inline-flex;
                img {
                    margin: 5px;
                }
            }

        }

    }
}

@media  only screen and (min-width: 426px) {
    .hero-and-wrapper {
        display: flex;
        flex-direction: row-reverse;

    }

    header {
        .logo-menu {
            .menu {
                display: none;
            }
        }

        .sidenav {
            .close-menu {
                display: none;
            }
    
            nav {
                display: flex;
    
                button {
                    padding: 10px;
                    background: none;
                    border: none;
                }
    
                ul {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    
}


